// @import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  background: #882E61;
}

// Navbar styling
.navbar {
 background: #64103F;
 // background: #2a76aa;
 padding-bottom: 20px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  padding-top: 25px;
  font-size: 150%;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: #ff0000;
}

.navbar-default {
  border: #64103F;
}

// Form styling
.page-heading, div > label {
  color: #ffffff;
}
