@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  background: #882E61;
  color: #ffffff;
}

// Navbar styling
.navbar {
 background: #64103F;
 padding-bottom: 20px;
}

.navbar-default .navbar-brand {
  padding-top: 25px;
  font-size: 150%;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: #ff0000;
}

.navbar-default {
  border: #64103F;
}

// Form styling
.page-heading, div > label {
  color: #ffffff;
}

// Listing articles styling

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.article-body {
  font-size: 1.5em;
  padding-left: 1.2em;
}

.article-title {
  padding-left: 0.7em;
}

.article-detail {
  margin-top: 20px;
}

// Article Show view styling
.article-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.article-show-body {
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
}
